* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #F8C8DC;
    color: black;
}

main {
    padding: 1rem 0.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 768px;
}

header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: black;
    font-size: 26px;
    font-weight: 700px;
}

button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

header button {
    color: black;
    font-size: 20px;
    border-bottom: 2px solid;
}

.task {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task:last-of-type {
    margin-bottom: 0;
}

.task input[type="checkbox"] {
    margin-right: 1rem;
}

.task input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin-right: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: black;
    flex: 1 1 0%;
}

.task input[type="text"]:not(:disabled) {
    border-bottom: 2px solid;
}

.actions button {
    color: black;
    margin-right: 1rem;
    opacity: 0.8;
    transform: 0.1s;
}

.actions button.delete_btn {
    color: firebrick;
}

.actions button:hover {
    opacity: 1;
}

.actions button:last-of-type {
    margin-right: 0;
}